.f-content.content
	p I am <span class="name fw-600">Sayantan Talukder</span> (<a class="link" href="https://translate.google.co.in/#view=home&op=translate&sl=bn&tl=en&text=%E0%A6%85%E0%A6%95%E0%A7%83%E0%A6%A4%E0%A7%8D%E0%A6%B0%E0%A6%BF%E0%A6%AE">akritrime</a>).

	p I am a full-stack software developer. I love building products and exploring new ideas. Currently, I am not actively looking for work but if you think I can help you with something, feel free to drop me a message on <span class="fw-600">akritrime@gmail.com</span>.

	p Currently, my favourite languages are <span class="py fw-600">Python</span> and <span class="rs fw-600">Rust</span>. I also have experience in <span class="js fw-600">JavaScript</span>, <span class="php fw-600">PHP</span> and <span class="rb fw-600">Ruby</span>. 
	
	p On frontend, I have primarily worked with frameworks like <span class="react fw-600">React</span> and <span class="vue fw-600">Vue</span>, but lately I try to use just <span class="html fw-600">HTML</span>/<span class="css fw-600">CSS</span>/<span class="js fw-600">JS</span> in my projects.

	.icons
		a(href="https://github.com/akritrime/")
			i.fab.fa-github
		a(href="https://twitter.com/akritrime")
			i.fab.fa-twitter
