$white: #fff;
$black: #000;
$blue: #2AA7F0;

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: "h"
                         "m";
    background: $white;
    color: $black;
}

header {
    grid-area: h;
    height: 100%;
    width: 100%;
    // background: #000;

    nav {
        width: 30%;
        height: 100%;
        // background: #f0f;
        float: right;
        margin-right: 5%;
        margin-top: 1%;

        ul {
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            // font-size: 0.9rem;
        }

        .clicked {
            height: 110%;
            background: $blue;
        }
    }
}

main {
    grid-area: m;
    // margin: 2%;
    height: 100%;
    width: 100%;
    // background: #ff0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "t p";

    #text {
        grid-area: t;
        // margin-left: 15%;
        // margin-top: 10%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        div {
            h1, p {
                margin: 0;
            }
            h1 {
                font-size: 6rem;
            }

            p {
                text-align: right;
            }
        }
    }

    #pic {
        grid-area: p;
        height: 100%;
        width: 100%;
        background: $blue;
    
    }
}