<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Akritrime Portfolio
		//- link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;600&family=Questrial&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700;800&family=Mr+Dafoe&display=swap" rel="stylesheet")
		script(src="./index.js")
	body.bg-black
		.container.bg-div.fixed.d-none.d-md-block
			.row.vh-100.w-100.no-margin
				.col.border-left
				.col.border-left
				.col.border-left
				.col.border-left
				.col.border-left.border-right
		.container.nav.fixed
			.row
				.col
					h1.f-heading.fw-300 <span id="a">a</span><span class="bg-black">kritrime</span>
				.col.d-flex.justify-content-end
					a#sayhi(href="mailto:akritrime@gmail.com").f-content.fw-600.rounded Say Hi!

		.container
			.d-flex.min-vh-100.align-items-center
				.row
					.col-lg-6.col-xs-12.min-vh-50.d-flex.align-items-end
						h2#hello.f-content Hello
							span#dot .
					.col-lg-6.d-none.d-lg-flex.f-content.align-items-end.justify-center-end
						include content.pug
					.col-xs-12.d-block.d-lg-none(style="margin-top: 50px; padding: 20px")
						include content.pug